<div class="footer">
    <p class="copyright">eVorsorgeCheck © 2021</p>
    <a href="/datenschutz">Datenschutz |</a>
    <a href="/impressum">Impressum |</a>
    <a href="/kontakt">Kontakt</a>
</div>