<div class="header" id="header">
    <div id="headerContent">
        <a href="/">HOME</a>
        <a href="/kompass">UNTERSUCHUNGSKOMPASS</a>
        <a href="/bonus">BONUS ÜBERSICHT</a>
        <a href="/arztfinder">ÄRZTEFINDER</a>
        <form id="logOutForm" action="/logout?_method=DELETE" method="POST">
            <button type="submit" id="logOutButton">SIGN OUT</button>
        </form>
    </div>
</div>