<div class="header">
    <a href="/home"><img src="../../media/logo.png" alt="logopng" class="logopng"></a>

    <ul>
        <li><a href="/home">Startseite</a></li>
        <li><a href="/kompass">Untersuchungskompass</a></li>
        <li><a href="/bonus">Bonusübersicht</a></li>
        <li><a href="/arztfinder">Ärztefinder</a></li>
        {{#if signedIn}}
        <li>
            <form id="logOutForm" action="/logout?_method=DELETE" method="POST">
                <button type="submit" id="logOutButton">Abmelden</button>
            </form>
        </li>
        {{else}}
        <li><a href="/login">Login</a></li>
        {{/if}}
    </ul>
</div>