                <h4>Jetzt <a href="/register">registrieren</a> und Vorteile sichern!</h4>
                <table>
                    <tr>
                    <tr>
                        <td><img src="../../media/haken.png" alt="hakenpng" class="hakenpng"></td>
                        <td>
                            <p class="lead">
                                Erhalten Sie eine fortlaufend angepasste, individuelle Empfehlung zu passenden Vorsorgeuntersuchungen und Impfungen
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../../media/haken.png" alt="hakenpng" class="hakenpng"></td>
                        <td>
                            <p class="lead">
                                Profitieren Sie von unserer Bonusübersicht. Bleiben Sie immer auf dem Laufenden, welche Prämien Ihnen zustehen
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../../media/haken.png" alt="hakenpng" class="hakenpng"></td>
                        <td>
                            <p class="lead">
                                Den passenden Arzt zu finden war noch nie einfacher. Erhalten Sie eine an ihre Bedürfnisse angepasste Auswahl
                            </p>
                        </td>
                    </tr>
                    </tr>
                    <tr>
                        <img src="../../media/startseite2.png" alt="startseitepng" class="startseitepng">
                    </tr>
                </table>
                <p>Selbstverständlich können Sie sich auch durch Eigenrecherche, ohne ein Benutzerkonto auf eVC informieren</p>
                <br>
                <p>Wir hoffen, dass Sie zufrieden sind. Gerne können Sie uns unter diesem <a href="/survey">Link</a> ihr Feedback mitteilen.</p>